In [34]:
import pymongo
from pymongo import MongoClient

In [ ]:
cluster = MongoClient("mongodb+srv://santhosh:78295@cluster0.foghk.mongodb.net/test&retryWrites=true&w=majority")
db = cluster.test
collection = db["test"]
#insert into database
post = {"_id":0, "Name": "Roy", "Score": 8}
collection.insert_one(post)

In [ ]:
#multiple post insertions
post1 = {"_id": 1, "Name": "Tim", "Score": 7}
post2 = {"_id": 2, "Name": "Ben", "Score": 6}

collection.insert_many([post1, post2])

In [ ]:
#find
results = collection.find({"Name": "Ben"})

for result in results:
    print(result)

In [ ]:
results = collection.find({"Name": "Ben"})
for result in results:
    print(result["_id"])

In [ ]:
results = collection.find({"Name": "Ben"})
for result in results:
    print(result["Score"])

In [ ]:
#find using multiple fields
results1 = collection.find({"Name":"Roy","_id":0})

for res in results1:
    print(res)

In [ ]:
#to get one result
results2 = collection.find_one({"_id":2})
print(results2)

In [37]:
#to fetch all the data in db
results3 = collection.find({})

for y in results3:
    print(y)

{'_id': 0, 'Name': 'Roy', 'Score': 8}
{'_id': 1, 'Name': 'Tim', 'Score': 7}
{'_id': 2, 'Name': 'Ben', 'Score': 6}

In [38]:
post3 = {"_id": 3, "Name": "Ram", "Score": 5}
collection.insert_one(post3)

In [39]:
#to fetch all the data in db
results3 = collection.find({})

for y in results3:
    print(y)

{'_id': 0, 'Name': 'Roy', 'Score': 8}
{'_id': 1, 'Name': 'Tim', 'Score': 7}
{'_id': 2, 'Name': 'Ben', 'Score': 6}
{'_id': 3, 'Name': 'Ram', 'Score': 5}

In [41]:
#delete
results4 = collection.delete_one({"_id":0}) #deletes entry of id:0

In [44]:
#to fetch all the data in db
results3 = collection.find({})

for y in results3:
    print(y)

{'_id': 1, 'Name': 'Tim', 'Score': 7}
{'_id': 2, 'Name': 'Frank', 'Score': 6}
{'_id': 3, 'Name': 'Ram', 'Score': 5}

In [ ]:
#colllection.delete_many({}) -- deletes all entries in the database
#collection.delete_many({}) -- used to dlete multiple entries

In [43]:
#update 
results5 = collection.update_one({"_id":2}, {"$set":{"Name":"Frank"}})
#use update_many() for multiple field updates
#refer https://docs.mongodb.com/manual/reference/operator/update/ for update operators

In [45]:
post_count = collection.count_documents({})
print(post_count)

3